/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.privkey.pem
.pubkey.pem
.version
.jshintrc
/public/assets/js/uport-connect-new.js
/public/assets/js/uport-connect-old.js
/public/assets/js/web3-new.js
/public/assets/js/web3-old.js
